<!DOCTYPE html>
<html lang="en">

<head>
    <!DOCTYPE html>
    <html lang="en">

<body>
    <h1>Calculate product</h1>
    <form method="post">
        {% csrf_token %}
        <label for="p">number1:</label>
        <input type="text" name="p" id="p" required /><br /><br />
        <label for="n">Number2:</label>
        <input type="text" name="n" id="n" required /><br /><br />
        <label for="r">number3:</label>
        <input type="text" name="r" id="r" required /><br /><br />
        <input type="submit" value="Calculate" />
    </form>

    {% if error %}
    <p style="color : red">{{ error }}</p>
    {% endif %} {% if result %}
    <p style="color : green">{{ result }}</p>
    {% endif %}
</body>

</html>